.container{
    display: flex;
    height: 200px;
    width: 300px;
    background-color: aqua;
    border: 1px solid;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    
}