.container{
    display: flex;
    height: 600px;
    width: 1200px;
    background-color: aqua;
    border: 1px solid;
    flex-direction: row;
    /* flex-wrap: wrap; */
    border: 1px solid black;
    /* justify-content: space-evenly;
    align-items: stretch;
    align-content: space-between; */
    gap: 20px;

    
}

.item{
    height: 200px;
    width: 200px;
    background-color: brown;
    border: 1px solid black;
    flex-grow: 1;
    
}
.item2{
    order: -1;
    /* flex-grow: 2; */
    flex-shrink: 1;
    align-self: flex-end;
}