
        body{
            font-family: Arial, sans-serif;
        }
        .container{
            border: 2px solid grey;
            padding: 24px;
            max-width: 800px;
            margin: 40px auto;
            background-color: white;
        }
        .title{
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .card{
            display: inline-block;
            width: 180px;
            height: 260px;
            vertical-align: top;
            margin: 20px 20px ;
            text-align: center;
            font-size: 1.2em;
            padding-top: 60px;
        }
        .card.book{
            background: yellow;
            color: #444;
        }
        .card.headphones{
            background: pink;
            color: #fff;
        }
        .card.watch{
            background: aquamarine;
            color: #444;
        }
        .price{
            display: block;
            font-size: 1.1em;
            margin-top: 22px;
        
        }